body {
    text-align: center;
    background:  linear-gradient(90deg, rgba(14,242,174,1) 0%, rgba(31,166,144,1) 35%, rgba(0,121,255,1) 100%);
}
#profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.parallax-container {
    vertical-align: middle;
    align-items: center;
   
}
#inner  {
    margin-top: 100px;
}
#details {
    margin-top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
h1 {
text-shadow: 2px 2px #F8BBD0;   
}
hr {
    width: 200px;
    color: black;
}